.footend {
    text-align: center;
    font-family: monospace;
}

.container {
    text-align: left;
}

.display {
    text-align: left;
}

.description {
    text-align: left;
}

.logo {
  width: 60vw;
  
  @media (max-width: 650px) {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}